<html lang="pt-br">
  <%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>


  <div class="about content">
    <h2>About us </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime odio, itaque eius mollitia totam cum sunt ad tempore reprehenderit dolores cumque sapiente quidem minima magnam incidunt ut sit voluptates possimus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime odio, itaque eius mollitia totam cum sunt ad tempore reprehenderit dolores cumque sapiente quidem minima magnam incidunt ut sit voluptates possimus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime odio, itaque eius mollitia totam cum sunt ad tempore reprehenderit dolores cumque sapiente quidem minima magnam incidunt ut sit voluptates possimus.</p>
  </div>

  <%- include('./partials/footer.ejs') %>
  
</body>
</html>